---
import Layout from '@pages/fr/layout-fr.astro';
import Prose from '@src/components/Prose.astro';
import { Image } from 'astro:assets';
import { getCollection, getEntry, render } from 'astro:content';

export async function getStaticPaths() {
    const projects = await getCollection('projectsFR');
    return projects.map((project) => ({
        params: {
            slug: project.id,
        },
    }));
}

const { slug } = Astro.params;

const project = await getEntry('projectsFR', slug);
if (!project) {
    throw new Error('Could not find project ' + slug);
}

const { Content } = await render(project);
---

<Layout>
    <div>
        <title>{project.data.title}</title>
        <div class='mx-auto max-w-200'>
            <h1 class="font-bold ">{project.data.title}</h1>
            <div class="inline-block w-full">
                <h2 class="float-left">{project.data.author}</h2>
                <h2 class="float-right">{project.data.timeline}</h2>
            </div>
            <br />
            <br />
            <div class='aspect-5/2 overflow-hidden'>
                <Image src={project.data.image} alt={''} class='h-full w-full object-cover' />
            </div>
            <br />
            <Prose>
                <Content />
            </Prose>
        </div>
    </div>
</Layout>
